body{
    background-image: url('camper_faustoluna.JPG');
    background-color: rebeccapurple;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.error{
    background-color: white !important;
    width: 100%;
    height: fit-content;
    border-radius: 3px;
    text-align: center;
}

.col-4, .col-12{
    align-items: center;
    text-align: center;
    /* vertical-align: middle; */
}

h1{
    margin-top: 1rem;
}
h2{
    margin-top: 1rem;
}

#easy{
    /* width: 100vw; */
    justify-content: center;
    /* background-color: chartreuse; */
}
#btnStart{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: bolder;
}
#btnStart:hover{
    color: #116ca8 !important;
}

#easy > i{
    width: fit-content;
    /* background-color: blueviolet; */
    font-size: 7rem;
    margin-top: 2rem;
    color: #ffbf00;
    align-content: center;
    padding: 2rem;
    
    
}
#easy > i:hover{
    /* background-image: url('IMG_4509.JPG'); */
    color: #ffbf00;
    background-color: #116ca8;
    border-radius: 25px;
    font-kerning: auto;
    text-shadow: rgb(176, 2, 176);
    padding: 2rem;
    border-style: solid;
}

/* -------- CREATE CAR -------- */

#collapsibleCarID{
    /* background-color: blueviolet;  */
    /* vertical-align: middle; */
    /* align-content: center; */
    justify-content: center;
    height: 100vh;
    
}


#step1{
    align-self: flex-start;
    margin-top: 3rem;
    height: 50vh;
    /* background-color: tomato; */
 }

 #step1 > i{
    margin-top: 0px;
    font-size: 7rem;
    color: #ffbf00;
    justify-content: space-around;
    
    align-content: center;
    padding: 2rem;

}

#step1 > i:hover{
    margin-top: 0px;
    font-size: 7rem;
    color: #ffbf00;
    background-color: #116ca8;
    border-radius: 25px;
    padding: 2rem;
    border-style: solid;
}
#rowInputs{
    justify-content: center;
    width: 100vw;
    /* background-color: teal; */
}


#carInputs > i{
    font-size: 3rem;
    color: #ffbf00;
    justify-content: space-around;
    margin-left: 1rem;
    text-align: center;
    margin-top: 7px !important;
}
#btnCreateCar{
    margin-top: 10rem !important;
    font-size: 3rem;
    font-weight: bolder;
}
#btnStart{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: bolder;
    
}
#btnCreateCar{
    color: white;
    
}
#btnCreateCar:hover{
    color: #463174 !important;
    border-style: solid !important;
}


#rowBtnCreateCar{
    /* background-color: red; */
    width: 100vw;
    height: 10vh;
}
/* ---------- PAGE 3 WHEELS ---------- */
#collapsibleWheelsID{
    /* background-image: url('IMG_5326.JPG'); */
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-position: bottom;
    position: relative;
    background-size: cover;
    align-content: flex-start;
}
#containerInRowWheels{
    width: 100vw !important;
    justify-content: center;
}

#wheelsSignal{
    margin: auto;
    width: 100vw;
    /* background-color: yellowgreen; */
    justify-content: center;
} 
 #wheelsSignal > i{
    /* background-color: magenta; */
    width: fit-content;
    margin-top: 2rem;
    font-size: 7rem;
    color: #ffbf00;
    justify-content: space-around;
    
    align-content: center;
    padding: 2rem;
} 

#wheelsSignal > i:hover{
    color: #ffbf00;
    background-color: #116ca8;
    border-radius: 25px;
    font-kerning: auto;
    text-shadow: rgb(176, 2, 176);
    padding: 2rem;
    border-style: solid;
}
button{
    margin: auto;
    margin-top: auto;   
} 
label{
    margin-top: 0.5rem;
}  

.form-group{
    margin-top: 1rem;
    justify-content: center;
    /* background-color: greenyellow; */
}
label>i{
    /* background-color: magenta; */
    width: fit-content;
    /* margin-top: 0px; */
    font-size: 1rem;
    /* color: #ffbf00; */
    color: white;
    justify-content: space-around;
    align-content: center;
    background-color: #2676ab;
    border-radius: 10px;
    padding: 0.5rem;
    border-style: initial;
    /* padding: 2rem; */
    
}

#btnCreateWheels{
    margin-top: 2rem !important;
    font-size: 3rem;
    font-weight: bolder;
}
#btnCreateWheels:hover{
    color: #116ca8;
}

/* ------- SUCCEFUL REGISTRATION ------- */
#row4{
    justify-content: center;
    /* background-color: violet; */
    margin: auto;
}
#col-carInfo>i{
    color: #ffbf00;
    background-color: rgb(17, 108, 168);
    width: fit-content;
    margin: 5rem;
    font-size: 3rem;
    border-radius: 25px;
    padding: 2rem;
    border-style: solid;
    justify-content: space-around;
}
#InfoWheel1, #InfoWheel2, #InfoWheel3, #InfoWheel4{
    font-size: 1.5rem;
    width: fit-content;
    justify-content: space-around;
    color: rgb(255, 191, 0);
    background-color: #116ca8;
    border-radius: 25px;
    padding: 2rem;
    border-style: solid;
}

 /* ------- footer ------- */
#footer {
    color: rgb(255, 191, 0);
    font-size: 7rem;
    font-weight: bolder;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: fit-content;
    /* background-color: red; */
    text-align: end;
    margin-right: 2rem; 
  }
#footer:hover{
    cursor: pointer;
}

/* ------- MODAL ABOUT ------- */
.modal{
    background-color: rgba(17, 108, 168, 0.5);
    
}
.modal-content{
    /* background-color: rgb(255, 191, 0); */
    color: white; 
    /* color: #ffbf00; */
    background-color: rgb(17, 108, 168);
    /* background-color: rgb(102, 51, 153);
    color: rgb(255, 191,0); */
    line-height: 5rem;
    font-size: 2.5rem;
    text-align: justify;
    padding: 2rem;
    justify-content: space-around;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
}


a{
    color: rgb(255, 191, 0);
}
a:hover{
    color: white;
}
#date{
    text-align: center;
    font-size: 1rem;
}